.container {
  min-height: 100vh;
}

.nav-link {
  color: $grey_color !important;
}

.nav-link:hover {
  color: $green_color !important;
}

.text-small {
  font-size: 0.8rem;
}

.text-green {
  color: $green_color !important;
}
