@mixin fontCustom {
  // font mixin for any headers or logos with green inserts with <span>text</span>
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  line-height: 1.5rem;
  text-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
  font-size: clamp(16px, 1.5vw, 30px);
  span {
    font-size: clamp(32px, 2vw, 50px);
  }
}

#description {
  // min-height: 95vh;
}

#description > div > div:first-child {
  @include fontCustom;
}

#logos {
  position: relative;
  z-index: 1;
  top: clamp(15px, 4vw, 50px);
  img {
    width: clamp(50px, 10vw, 150px);
  }
}

#descriptionCard {
  position: relative;
  z-index: 10;
  background-color: var(--bs-body-bg);
  h3 {
    @include fontCustom;
  }
  ol {
    list-style-type: none;
    li:not(ul li) {
      font-size: 18px;
      font-style: italic;
      margin-top: 12px;
    }
    li:not(ul li):last-child {
      font-style: normal;
      font-size: 14px;
    }
    ul li {
      font-size: 14px;
    }
  }
}

#scrollDownBtn {
  position: fixed;
  bottom: 150px;
  right: calc(10vw - 40px);
  width: 60px;
  height: 60px;
  border: none;
  border-radius: 50%;
  padding: 5px;
  cursor: pointer;
  img:first-child {
    left: 0;
    position: absolute;
    bottom: 10px;
    padding: 5px;
  }
  img {
    max-width: 100%;
    max-height: 100%;
  }
}

#content {
  .sideControlBox {
    width: 100%;
  }
  button {
    min-width: 90px;
  }
}

#queryRepositories {
  max-width: 60%;
}

.my-repositoriesTemplate {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.my-repositoriesTemplate p {
  @include fontCustom;
}
