// styles: block__description
#block__description {
	min-height: 95vh;
}
#logos {
	position: relative;
	z-index: 1;
	top: clamp(15px, 4vw, 50px);
	img {
		width: clamp(50px, 10vw, 150px);
	}
}
#description__card {
	position: relative;
	z-index: 10;
	background-color: var(--bs-body-bg);
	ol {
		list-style-type: none;
		li:not(ul li) {
			font-size: 18px;
			font-style: italic;
			margin-top: 12px;
		}
		li:not(ul li):last-child {
			font-style: normal;
			font-size: 14px;
		}
		ul li {
			font-size: 14px;
		}
	}
}
#block__description > div > div:first-child {
	text-transform: uppercase;
	letter-spacing: 0.5em;
	line-height: 1.5em;
	text-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
	font-size: clamp(16px, 1.5vw, 30px);
	span {
		font-size: clamp(32px, 2vw, 30px);
	}
}
// styles: block__scroll
#scrollDownBtn {
	position: fixed;
	bottom: 150px;
	right: calc(10vw - 40px);
	width: 60px;
	height: 60px;
	border: none;
	border-radius: 50%;
	padding: 5px;
	cursor: pointer;
	img:first-child {
		left: 0;
		position: absolute;
		bottom: 10px;
		padding: 5px;
	}
	img {
		max-width: 100%;
		max-height: 100%;
	}
}
// styles: block__content
#block__content {
	.control_box{
		width: 100%;
	}
	button {
		min-width: 90px;
	}
	#manualSyncStatus{
		min-width: 90px;
	}
}
