// mixins
@mixin fontCustom {
	// font mixin for any headers or logos with green inserts with <span>text</span>
	text-transform: uppercase;
	letter-spacing: 0.5em;
	line-height: 1.5em;
	text-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
	font-size: clamp(16px, 1.5vw, 30px);
	span {
		font-size: clamp(32px, 2vw, 30px);
	}
}

// styles: block__description
#block__description {
	min-height: 95vh;
}
#logos {
	position: relative;
	z-index: 1;
	top: clamp(15px, 4vw, 50px);
	img {
		width: clamp(50px, 10vw, 150px);
	}
}
#description__card {
	position: relative;
	z-index: 10;
	background-color: var(--bs-body-bg);
	h3 {
		@include fontCustom;
	}
	ol {
		list-style-type: none;
		li:not(ul li) {
			font-size: 18px;
			font-style: italic;
			margin-top: 12px;
		}
		li:not(ul li):last-child {
			font-style: normal;
			font-size: 14px;
		}
		ul li {
			font-size: 14px;
		}
	}
}
#block__description > div > div:first-child {
	@include fontCustom;
}
// styles: block__scroll
#scrollDownBtn {
	position: fixed;
	bottom: 150px;
	right: calc(10vw - 40px);
	width: 60px;
	height: 60px;
	border: none;
	border-radius: 50%;
	padding: 5px;
	cursor: pointer;
	img:first-child {
		left: 0;
		position: absolute;
		bottom: 10px;
		padding: 5px;
	}
	img {
		max-width: 100%;
		max-height: 100%;
	}
}
// styles: block__content
#block__content {
	.control_box {
		width: 100%;
	}
	button {
		min-width: 90px;
	}
}
#manualSyncStatus {
	min-width: 90px;
}
#search_repository {
	max-width: 60%;
}
.my-template-repo,
.my-detailed-repo {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.my-template-repo > div > div:first-child,
.my-detailed-repo > #notFound_repo > div,
.my-list-repo > div:first-child,
.notFound {
	@include fontCustom;
}
#detailedCard_repo {
	h3 {
		@include fontCustom;
	}
	ul li {
		list-style-type: square;
		padding-left: 15px;
		list-style-image: linear-gradient(to right, $green_color, $green_color_05);
		font-family: 'Handlee', cursive;
		font-weight: 400;
		font-style: normal;
	}
	ul li:first-child {
		text-transform: uppercase;
		span:first-of-type {
			font-weight: bolder;
		}
	}
}

.my-list-repo select {
	max-width: 150px;
	min-width: 100px;
}

.accordion-header {
	button span:first-of-type {
		text-transform: uppercase;
	}
	font-family: 'Handlee', cursive;
	font-weight: 400;
	font-style: normal;
}

.accordion-header + div {
	ul li {
		list-style-type: square;
		padding-left: 15px;
		list-style-image: linear-gradient(to right, $green_color, $green_color_05);
		font-family: 'Handlee', cursive;
		font-weight: 400;
		font-style: normal;
	}
}
